/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2020 Juan Pablo Lozano <libredeb@gmail.com>
 */

.search_normal {
    color: #FFFFFF;
    font-style: normal;
}

.search_greyout {
    color: #a0a0a0;
    font-style: italic;
}

.indicator_label {
    color: rgba(170,170,170,0.5);
    font-style: normal;
    font-size: smaller;
    font-weight: 900;
}

.search_bg {
    color: rgba(255, 255, 255, 0.82);
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.18);
/*  padding: 2px; */
}

entry {
    background: transparent;
    color: #FFFFFF;
    border: none;
    box-shadow: none;
    padding: 2px;
    caret-color: #FFFFFF;
}

entry:focus {
    background: transparent;
    color: #FFFFFF;
    border: none;
    box-shadow: none;
}
