[Desktop Entry]
Name=LightPad
GenericName=Application Launcher
Comment=Lightweight, look nice and powerful application launcher
Categories=GNOME;GTK;Utility;
Exec=com.github.libredeb.lightpad
Icon=lightpad
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=false
